.wrapper {
    z-index: 2;
    text-align: center;
}
.outer{
    position: relative;
}
#headerInner{
    text-align: center;
    background-color: rgba(40, 40, 40, 0.5);
    width:400px;
    margin: 0 auto;
    position:relative;
    border-radius: 20px
}
#textInner{
    background-color: rgba(144, 144, 144, 0.3);
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: 5px 20px;
    position: relative;
    border-radius: 20px/20px;
}
#one{
    text-align: left;
    width:1000px;
}
#volumeControl {
    padding-top: 50px;
    text-align: center;
}
#myCanvas {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

/*#two{
	padding:5px 5px 5px 40px;
}*/


/*#canvas {
  position: absolute;
}*/


.wrapper {
  padding-top: 250px;
  position: relative;
  text-align: center;
}

.myButton {
    z-index: 3;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 175;
    -moz-box-shadow: inset 0px -3px 7px 0px #29bbff;
    -webkit-box-shadow: inset 0px -3px 7px 0px #29bbff;
    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
    background: -moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: -webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: -o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: -ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa', GradientType=0);
    background-color: #2dabf9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #0b0e07;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
}
.myButton:hover {
    z-index: 3;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
    background: -moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background: -webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background: -o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background: -ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9', GradientType=0);
    background-color: #0688fa;
}
.myButton:active {
    z-index: 3;
    position: relative;
    top: 1px;
}
